{
  "useTabs": true,
  "tabWidth": 2,
  "trailingComma": "none",
  "semi": true,
  "singleQuote": false,
  "vueIndentScriptAndStyle": false,
  "printWidth": 180,
  "bracketSameLine": false
}
